common --enable_bzlmod
build --cxxopt="-std=c++20"
build:max -c opt --copt="-O3" --copt="-march=native" --copt="-ffast-math" --copt="-fopenmp-simd" --copt="-flto" --linkopt="-flto"
build:dbg -c dbg --copt="-g" --copt="-fopenmp-simd"
build:dbgm --config=max --config=dbg