# Reports & Data
reports/*
results/*
results.json
flamegraph/perf.data
flamegraph/perf.data.old

# Virtual environment
.venv/
env/
venv/

# Idea workspace
.idea/

# Bazel
.clwb/
bazel-bin
bazel-out
bazel-LAPJV-Optimizations
bazel-testlogs
bazel-bin/
bazel-out/
bazel-LAPJV-Optimizations/
bazel-testlogs/
MODULE.bazel.lock

# Compile commands
compile_commands.json

# Macos data storage
.DS_Store
